.app {
  text-align: center;
  height: 100vh;
  font-family: 'Roboto Slab', sans-serif;
}
.dark{
  background-color: rgb(17, 17, 24);

}
.dropdown{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 22px;
}
.header {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 22px;
  color:white
}

.cards{
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
  background: #2d223b;
  justify-content: space-between;
  padding: 25px;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
}

.card{
  width: 175px;
  min-height: 150px;
  background-color: #d1dca8;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  justify-items: center;
  margin: 5px auto 5px auto;
  position: relative;
}

.card .day h3{
  color: #3b2222;
}

.card .icon{
  width: 100%;
}

.card .degree{
bottom: 0;
color: #3b2222;
position: absolute;
left: 5px;
bottom:5px;
font-size: 18px;
font-weight: bold;
}

.card .degree span{
    font-size: 12px;
    bottom: 9px;
    position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





html{
  font-family: 'Roboto Slab', sans-serif;
}
body{

  color: #313E48;
}
img{
  max-width: 100%;
}

.box{
  margin: 1em auto;

  padding: 2em 0;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0px 1px 7px rgba(0,0,0, 0.25);
  background: rgb(251,206,187);
  background: linear-gradient(313deg, rgba(251,206,187,1) 0%, rgba(251,193,98,1) 100%);
}

.box:hover{
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.5);
}

.box h1{
  font-size: 2em;
  text-align: center;
}

.box .temp{
  font-size: 5em;
  line-height: 1;
  text-align: center;
  display: block;
  padding-left: 30px;
  margin-bottom: 24px;
}

.box .high-low{
  font-size: 2em;
  color: lighten(#313E48, 20%);
  text-align: center;
  display: block;
  font-weight: 100;
}

.weather .icon{
  position: relative;
  margin: 0 auto;
}
.spin{
  position: absolute;
  top: 16px;
  right: 18px;
  text-align: center;
  width: 65px;
}


.bubble.black {
  background-color: #313E48;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

  .bubble.black:after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 14px;
    border-style: solid;
    border-width: 29px 15px 0;
    border-color: #313E48 transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: rotate(30deg);
  }



.spin img{
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.box:hover .spin img{
   animation-play-state: running;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}